// Primary and secondary colors
$primary: #000000; // Title and border for sorting (A-Z, Z-A)
$secondary: #D7B46B; // Card titles and subtitles

// Backgrounds
$background: #F9F9F9; // General Information component background

// Borders
$border-primary: #535353; // Border for "Filter by..." section
$border-secondary: #252525; // Border for search input

// Text colors
$text-secondary: #2C2C2C; // Secondary text or paragraphs
