@use "../../styles/variables" as variables;

@mixin typography($font-size, $font-weight, $letter-spacing) {
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
}

.card {
    margin-top: 10px;
    width: 95%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 7px 25px 0px #00000026;
}

.card-content {
    padding: 10px 15px;
}

.img-container {
    position: relative;
}

.like-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.9rem;
    color: variables.$secondary;
    transition: color 0.3s ease;


    &.liked,
    &:hover {
        background: variables.$secondary;
        color: #ffffff;
    }
}


.card-content p {
    color: variables.$text-secondary;
}

.fruit {
    color: variables.$secondary;
    font-weight: 700;
    font-size: 1.6rem;
}

.nutritions-title {
    color: variables.$secondary;
    font-weight: 700;
    font-size: 1.4rem;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nutrition-container {
    display: flex;
    justify-content: space-between;
}

.taxonomic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-values,
.info-labels {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.info-labels p {
    @include typography(1rem, 700, 00.02rem);
}

.info-values p {
    @include typography(00.9rem, 400, 0.02rem);
}

.nutrition-labels p {
    @include typography(1rem, 700, 00.02rem);
    text-align: left;
}

.nutrition-values p {
    text-align: right;
    @include typography(1rem, 400, 00.02rem);
}



@media screen and (min-width: 768px) {
    .card {
        margin-top: 30px;
        width: 250px;
        height: 510px;
        border-radius: 15px;
        box-shadow: 5px 10px 30px 0px #00000033;
    }

    .like-icon {
        width: 30px;
        height: 30px;
        font-size: 1.1rem;
        position: absolute;
        top: 15px;
        right: 15px;

        &.liked,
        &:hover {
            background: variables.$secondary;
            color: #ffffff;
        }
    }

    .card-content p {
        color: variables.$text-secondary;
    }

    .fruit {
        color: variables.$secondary;
        font-weight: 700;
        font-size: 1.8rem;
    }

    .nutritions-title {
        color: variables.$secondary;
        font-weight: 700;
        font-size: 1.4rem;
    }

    .card img {
        width: 100%;
        height: 235px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .nutrition-container {
        display: flex;
        justify-content: space-between;
    }

    .taxonomic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-values,
    .info-labels {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .info-labels p {
        @include typography(1.3rem, 700, 00.02rem);
    }

    .info-values p {
        @include typography(1.2rem, 400, 00.02rem);
    }

    .nutrition-labels p {
        @include typography(1.3rem, 700, 00.02rem);
        text-align: left;
    }

    .nutrition-values p {
        text-align: right;
        @include typography(1.2rem, 400, 0.02rem);
    }
}


@media screen and (min-width: 600px) and (max-width: 1024px) {
    .card {
        width: 95%;
        max-width: 400px;
        height: auto;
        border-radius: 15px;
        box-shadow: 5px 8px 28px 0px #00000030;
    }

    .like-icon {
        width: 25px;
        height: 25px;
        font-size: 1rem;
        top: 12px;
        right: 12px;

        &.liked,
        &:hover {
            background: variables.$secondary;
            color: #ffffff;
        }
    }

    .fruit {
        font-size: 1.2rem;
    }

    .nutritions-title {
        font-size: 1rem;
    }

    .card img {
        height: 220px;
    }

    .info-labels p,
    .nutrition-labels p {
        @include typography(0.8rem, 700, 0.02rem);
    }

    .info-values p,
    .nutrition-values p {
        @include typography(0.8rem, 400, 0.02rem);
    }
}